{{ $baseName := (printf "%s-migration" (.ReleaseName | default .Chart.Name) | replace "+" "-" | replace "." "-" | trunc 63 | trimSuffix "-") }}
{{ $name := (printf "%s-%s" $baseName (.Values.image.tag | default .Chart.AppVersion) | replace "+" "-" | replace "." "-" | trunc 63 | trimSuffix "-") }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: '{{ $baseName }}'
  labels:
    {{- include "my.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
spec:
  schedule: "{{ .Values.schedule }}"
  timeZone: "Etc/UTC"
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 7
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: {{ .Values.ttlSecondsAfterFinished }}
      template:
        metadata:
          name: '{{ $name }}'
          labels:
            {{- include "my.labels" . | nindent 12 }}
        spec:
          securityContext:
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          containers:
          - name: 'cdviz-db-migration'
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
            # args for https://github.com/golang-migrate/migrate
            args:
              - -database
              - "$(DATABASE_URL)"
              - -path
              - /migrations/
              - up
            env:
            {{- range $key, $value := .Values.env }}
            {{- if and $value.valueFrom $value.valueFrom.secretKeyRef (not $value.valueFrom.secretKeyRef.name) }}
            {{- fail (printf "Environment variable %s requires a valid secretKeyRef.name, but got empty string. Please configure env.%s.valueFrom.secretKeyRef.name in your values." $key $key) }}
            {{- end }}
              - name: {{ $key }}
                {{- tpl (toYaml $value) $ | nindent 16 }}
            {{- end}}
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
              runAsNonRoot: true
              runAsUser: 10001
            resources:
              requests:
                cpu: 200m
                memory: 20Mi
              limits:
                cpu: 2000m
                memory: 200Mi
          restartPolicy: Never
      backoffLimit: 2
