[env]
NAME = "cdviz-db"

[tasks."release_prepare"]
description = "Prepare release (calculate version & generate changelog)"
shell = "bash -c"
run = """
VERSION=$(mise run //:_release_version $NAME "charts/$NAME/*" Chart.yaml)
mise run //:_release_changelog $NAME "charts/$NAME/*" "$VERSION"
echo "Prepared $NAME chart $VERSION"
"""

[tasks."release_publish"]
description = "Publish chart to OCI registry"
shell = "bash -c"
run = """
set -euo pipefail
VERSION=$(yq .version Chart.yaml)

mise run //:_publish_chart "$NAME" "$VERSION" "$CHARTS_OCI_REGISTRY"
mise run //:_release_tag "$NAME" "$VERSION"
"""

[tasks.lint]
description = "Lint Helm chart"
run = ["helm lint .", "helm template . | kubectl apply --dry-run=client -f -"]

[tasks.ci]
depends = [":lint"]
