[sinks.debug]
enabled = true

[sinks.database]
enabled = true
type = "db"
url = "postgresql://cdviz:postgres-password@127.0.0.1:5432/cdviz"
pool_connections_min = 1
pool_connections_max = 10

[sources]

[sources.cdevents_local_json]
enabled = true

[sources.cdevents_local_json.extractor]
type = "opendal"
kind = "fs"
polling_interval = "60s"
parameters = { root = "./events/cdevents.in.d" }
recursive = true
path_patterns = ["*.json"]
parser = "json"

[sources.pipelinerun_x_local_csv]
enabled = true
transformer_refs = ["pipelinerun_x", "log"]

[sources.pipelinerun_x_local_csv.extractor]
type = "opendal"
kind = "fs"
polling_interval = "20s"
parameters = { root = "./events/executions.d" }
recursive = false
path_patterns = ["pipelinerun_*.csv"]
parser = "csv_row"

[sources.taskrun_x_local_csv]
enabled = true
transformer_refs = ["taskrun_x", "log"]

[sources.taskrun_x_local_csv.extractor]
type = "opendal"
kind = "fs"
polling_interval = "20s"
parameters = { root = "./events/executions.d" }
recursive = false
path_patterns = ["taskrun_*.csv"]
parser = "csv_row"

[sources.testcaserun_x_local_csv]
enabled = true
transformer_refs = ["testcaserun_x", "log"]

[sources.testcaserun_x_local_csv.extractor]
type = "opendal"
kind = "fs"
polling_interval = "20s"
parameters = { root = "./events/executions.d" }
recursive = false
path_patterns = ["testcaserun_*.csv"]
parser = "csv_row"

[sources.testsuiterun_x_local_csv]
enabled = true
transformer_refs = ["testsuiterun_x", "log"]

[sources.testsuiterun_x_local_csv.extractor]
type = "opendal"
kind = "fs"
polling_interval = "20s"
parameters = { root = "./events/executions.d" }
recursive = false
path_patterns = ["testsuiterun_*.csv"]
parser = "csv_row"

[sources.artifact_lifecycle_csv]
enabled = true
transformer_refs = ["artifact_lifecycle", "log"]

[sources.artifact_lifecycle_csv.extractor]
type = "opendal"
kind = "fs"
polling_interval = "20s"
parameters = { root = "./events/artifact_lifecycle.d" }
recursive = false
path_patterns = ["*.csv"]
parser = "csv_row"

[transformers]
artifact_lifecycle = { type = "vrl", template_file = "./transformers/artifact_lifecycle.vrl" }
pipelinerun_x = { type = "vrl", template_file = "./transformers/pipelinerun_x.vrl"}
testsuiterun_x = {type = "vrl", template_file = "./transformers/testsuiterun_x.vrl"}
testcaserun_x ={ type = "vrl", template_file = "./transformers/testcaserun_x.vrl" }
taskrun_x = {type = "vrl", template_file = "./transformers/taskrun_x.vrl"}
