---
name: ci

on:
  push:
    branches-ignore:
      - "release-plz-*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  ci:
    #TODO? replace by a charts only ci like https://github.com/helm/chart-testing-action
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        folder:
          - cdviz-db
          - cdviz-grafana
          - charts
          - demos
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - uses: docker/setup-buildx-action@v3
      - name: check changed files
        uses: tj-actions/changed-files@v47
        id: changed-files
        with:
          files: |
            ${{ matrix.folder }}/**
      - name: log
        if: steps.changed-files.outputs.any_changed != 'true'
        run: echo "::notice ::no changed files on ${{ matrix.folder }} - skipping"
      - uses: jdx/mise-action@v3
        if: steps.changed-files.outputs.any_changed == 'true'
      - uses: helm/kind-action@v1.13.0
        if: (steps.changed-files.outputs.any_changed == 'true' && matrix.folder != 'cdviz-grafana')
      - run: mise install
        if: steps.changed-files.outputs.any_changed == 'true'
        shell: bash
        working-directory: ${{ matrix.folder }}
      - run: |
          mise run '//${{ matrix.folder }}:ci'
        if: steps.changed-files.outputs.any_changed == 'true'
        shell: bash
